.titleDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    color: rgb(162, 129, 19);
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 10px;
    animation: neon 3s ease-in-out infinite;
}

@keyframes neon {
    0% {
        text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 30px rgb(255, 255, 255), 0 0 40px rgb(255, 255, 255);
    }
    50% {
        text-shadow: none;
    }
    100% {
        text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 30px rgb(255, 255, 255), 0 0 40px rgb(255, 255, 255);
    }
}

body {
    background-image: url("cave_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }
  

.game {
    position: relative;
    border-radius: 25px;
    width: 250px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 30px;
    opacity: 1;
    font-size: 40px;
    font-family: "Lucida Console", "Courier New", monospace;
}

.threeGamesDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: auto;
    text-align: center;
}

.game1 {
    border-radius: 25px;
    width: 250px;
    height: 300px;
    background-image: url("Snake.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 30px;
    opacity: 1;
    font-size: 40px;
    font-family: "Lucida Console", "Courier New", monospace;
    }
    
    .game1:hover {
        animation: shake-rotate 0.5s;
        animation-fill-mode: forwards;
    }
    
    @keyframes shake-rotate {
        0% {
            transform: scale(1) rotate(0deg);
        }
        25% {
            transform: scale(1.1) rotate(10deg);
        }
        50% {
            transform: scale(1) rotate(0deg);
        }
        75% {
            transform: scale(1.1) rotate(-10deg);
        }
        100% {
            transform: scale(1) rotate(0deg);
        }
    }
    
    .game1:hover {
        opacity: 0.80;
        transform-origin: center center;
        transition: all 0.5s ease-in-out;
        box-shadow: 0 0 50px #FFFFFF;
    }
    
    .game2 {
    border-radius: 25px;
    width: 250px;
    height: 300px;
    background-image: url("BubblePop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 30px;
    opacity: 1;
    font-size: 40px;
    font-family: "Lucida Console", "Courier New", monospace;
    transition: all 0.5s ease-in-out;
    }
    
    .game2:hover {
        animation: shake-rotate 0.5s;
        animation-fill-mode: forwards;
    }
    
    @keyframes shake-rotate {
        0% {
            transform: scale(1) rotate(0deg);
        }
        25% {
            transform: scale(1.1) rotate(10deg);
        }
        50% {
            transform: scale(1) rotate(0deg);
        }
        75% {
            transform: scale(1.1) rotate(-10deg);
        }
        100% {
            transform: scale(1) rotate(0deg);
        }
    }
    
    .game2:hover {
        opacity: 0.80;
        transform-origin: center center;
        transition: all 0.5s ease-in-out;
        box-shadow: 0 0 50px #FFFFFF;
    }
    
    .game3 {
    border-radius: 25px;
    width: 250px;
    height: 300px;
    background-image: url("Breakout.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 30px;
    opacity: 1;
    font-size: 40px;
    font-family: "Lucida Console", "Courier New", monospace;
    transition: all 0.5s ease-in-out;
    }

    .game3:hover {
        animation: shake-rotate 0.5s;
        animation-fill-mode: forwards;
    }
    
    @keyframes shake-rotate {
        0% {
            transform: scale(1) rotate(0deg);
        }
        25% {
            transform: scale(1.1) rotate(10deg);
        }
        50% {
            transform: scale(1) rotate(0deg);
        }
        75% {
            transform: scale(1.1) rotate(-10deg);
        }
        100% {
            transform: scale(1) rotate(0deg);
        }
    }
    
    .game3:hover {
        opacity: 0.80;
        transform-origin: center center;
        transition: all 0.5s ease-in-out;
        box-shadow: 0 0 50px #FFFFFF;
    }
    #backButton {
        border-radius: 10px;;
  transition: transform 0.2s ease-in-out;
  
}

#backButton:hover {
  transform: scale(1.2);
}
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.02);
    }
    100% {
      transform: scale(1);
    }
  }
  
  #changeBackgroundButton {
    border-radius: 10px;;
    transition: transform 0.2s ease-in-out;
}

#changeBackgroundButton:hover {
    transform: scale(1.2);
}
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.02);
    }
    100% {
      transform: scale(1);
    }
  }
  #revertBackgroundButton {
    border-radius: 10px;;
    transition: transform 0.2s ease-in-out;
}

#revertBackgroundButton:hover {
    transform: scale(1.2);
}
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.02);
    }
    100% {
      transform: scale(1);
    }
  }
  .backgroundButtonsDiv {
    margin-top: 20px;
}
#pauseButton {
    border-radius: 10px;;
    transition: transform 0.2s ease-in-out;
}

#pauseButton:hover {
    transform: scale(1.2);
}
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.02);
    }
    100% {
      transform: scale(1);
    }
  }
  .backgroundButtonsDiv {
    margin-top: 20px;
}

